@import "./Mixins";
.detail{
  &__title{
    h1{
      @include text(2.8rem, 700, 3.6rem);
      padding: 24px 8px 16px;
    }
  }
  &__map{
    @include flex;
    width: 100%;
    padding: 16px;
  }

  &__map-box{
    background: #FFF;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 3px 16px 110px 0px rgba(0, 0, 0, 0.17);
    width: 100%;
  }
  &__map-direction{
    @include flex(center,16px, flex-start);
    flex-direction: column;
  }
  &__map-contact{
    @include text(2.4rem, 600, 2rem);
    padding-left: 24px;
    margin-top: 16px;

  }

}

@import "./responsive/DetailProperty";