@import "./Mixins";
.knowledge{
@include flex(center, 56px, stretch);
width: 100%;
flex-direction: column;
margin-bottom: 80px;

&__hero-back{
  padding-top: 32px;
  @include flex;
  position: relative;
  flex-direction: column;
  background-image: url('../images/back-conos.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

}

&__hero{
  @include flex(center, 32px);
  flex-direction: column;
  width: 100%;
  margin-bottom: 64px;
  margin-top: 32px;
}
&__hero-content{
  @include flex(space-between,32px);
  width: 100%;
 
  &--bottom{
    align-items: baseline;
  }
  h1{
    @include text(8.6rem, 400, 7rem, left);
    color: var(--text-invert)
  }
  h3{
    @include text(4.8rem, 600, 7rem, left);
    color: var(--text-invert)
  }
  p{
    @include text(2rem, 400, 4rem, left);
    color: var(--text-invert)
  }
 
}
&__hero-img{
  width: 100%;
  max-width: 300px;
  img{
    width: 100%;
    object-fit: contain;
    filter: invert(1);
  }
  &--logo{
    width: 100%;
    max-width: 200px;
    /* border: 1px solid black; */
    border-radius: 50%;
    padding: 40px;
    box-shadow: 1.18553px 1.42263px 3.14815px 0px rgba(0, 0, 0, 0.02), 5.21632px 6.25958px 6.51852px 0px rgba(0, 0, 0, 0.03), 12.80369px 15.36443px 13px 0px rgba(0, 0, 0, 0.04), 40px -4px 46.85185px 0px rgba(0, 0, 0, 0.05);
  }
  &--bottom{
    max-width: 200px;
  }
}

&__cards{
  @include flex;
  @include content;
  height: 450px;
}
&__cards-canvas{
  @include flex;
  width: 100%;
  height: 100%;
  position: relative;
}
&__cards-stroke{
  @include border;
  position: absolute;
  &--uno{
    @include border;
    width: 95%;
    height: 100%;
  }
  &--dos{
    @include border;
    width: 100%;
    height: 80%;
  }
}
&__cards-stroke-content{
  @include flex;
  position: absolute;
  width: 98%;
  height: 95%;
  background: radial-gradient(87.81% 79.12% at 58.45% 46.66%, #F4F4F4 0%, #E9E9FF 77.6%);
  box-shadow: 0px 0px 205px 14px rgba(31, 64, 95, 0.08), 0px 0px 50px 0px rgba(14, 57, 97, 0.04);
  z-index: 1;
}
&__cards-box{
  @include flex(center, 32px);
  width: 95%;
  height: 80%;
  position: relative;border-radius: 8px;
  background: rgba(255, 255, 255, 0.776);
  
  box-shadow: -3px 0px 29px -5px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(60px);
  padding: 32px
}
&__card{
  @include flex(center, 8px, flex-start);
  margin-top: 8px;
  flex-grow: 1;
  height: 100%;
  width: 30%;
  flex-direction: column;
  p{
    text-align: left;
    @include text(2.4rem, 400, 3.2rem, left);
  }
  img{
    width: 100%;
    object-fit: cover;
    flex-grow: 1;
    border-radius: 8px;
    height: 80%
  }
}
&__paragraphs{
  @include flex(space-between, false, stretch);
  width: 100%;
}
&__paragraph-1{
  width: 45%;
  animation: fade-show 1s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}
&__list-1{
  width: 45%;
  animation: fade-in 1.5s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
 
}
&__contact{
  @include flex(flex-start, false, stretch);
  width: 100%;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  h2{
    @include text(5.6rem, 400, 7.2rem, left);
    margin-bottom: 16px;
    color: var(--text-color);
  }
  p{
    @include text(3.2rem, 400, 4rem, left);
    color: var(--text-color);
  }
  small{
    @include text(2.4rem, 400, 3.2rem, left);
    color: var(--text-color);
  }
}
&__tit{

  padding: 24px 0 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid #E9E9FF;
}
&__academy-tit{
  padding: 16px 0;
}
&__trading{
  background-image: url('../images/back-markest.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
&__products-card{
  @include flex(space-between, 32px 2px, center);
  flex-wrap: wrap;
  position: relative;
  margin-top: 120px;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

&__trading-card{
  @include flex(space-between, 32px, stretch);
  width: 70%;
  padding: 32px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 3px 16px 110px 0px rgba(0, 0, 0, 0.17);
  backdrop-filter: blur(7.5px);
  &--left{
    // margin-top: -150px;
    align-self: flex-start;
    margin-top: -60px;
  }
  &--rigth{
    margin-top: -60px;
    align-self: flex-end;
    h3,p{
      text-align: right!important;
    }
  }
}
&__trading-card-img{
  border-radius: 999px;
  border: 1px solid var(--neutral-black, #060606);
width: 150px;
object-fit: cover;
}

&__trading-card-txt{
  @include flex(flex-start, false, stretch);
  flex-direction: column;
  width: 100%;
  h3{
    @include text(3.2rem, 500, 4.2rem);
    margin-bottom: 16px;
  }
  p{
    @include text(1.6rem, 400, 3.2rem);
    @include border(#959595);
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding-top: 24px;
    margin-bottom: 16px;
  }
}
&__trading-card-btn-read{
  @include button(outline);
  width: 100%;
  max-width: 200px;
  margin-top: auto;
  margin-bottom: 16px;
  &--radius{
    border-radius: 25px;
  }
}

&__broker{
  padding: 32px 16px 80px;
  background: linear-gradient(to right, rgba(57, 91, 117, 0.297) 0%, rgba(92, 94, 156, 0.271) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#395b75', endColorstr='#5c5e9c', GradientType=1 );
width: 100%;
}

&__whoAre{
  @include flex;
  margin-top: 64px;
  width: 100%;
  flex-direction: column;
}
&__whoAre-box{
  @include flex;
  position: relative;
  width: 75%;
  margin-right: -5%;
  animation: fade-show 1s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
&__whoAre-blur{

position: absolute;
border-radius: 8px;
background: rgba(255, 255, 255, 0.10);
backdrop-filter: blur(60px);
width: 100%;
height: 100%;
z-index: 0;
}
&__whoAre-content{
  width: 100%;
  z-index: 1;
  padding: 48px 54px;
  h3{
    @include text(4.8rem, 900, 6.4rem);
    color: var(--text-invert)
  }
  h4{
    color: var(--text-invert)
  }
  p{
    @include text(2rem, 500, 3.6rem);
    color: var(--text-invert)
  }
  h5{
    // @include text(2rem, 400, 4rem, left);
    margin-top: 8px;
    color: var(--text-invert) !important;
    font-weight: 600;
  }
}
&__whoAre-img{
  max-height: 350px;
  z-index: -1;
  animation: fade-in 1.5s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  z-index: 0;
}

  @keyframes fade-in{
    0%{
      opacity: 0;
      transform: translateX(50%);
    }
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fade-show{
    0%{
      opacity: 0;
      filter: blur(20px)
    }
    100%{
      opacity: 1;
      filter: brightness(2 blur(10px));
    }
  }
  .paused * { 
    animation-play-state: paused;
  }
}
@import "./responsive/knowledge";
