@import "./Mixins";
.markets{
@include flex(center, 56px, stretch);
width: 100%;
flex-direction: column;
margin-bottom: 80px;

&__hero-back{
  padding-top: 32px;
  @include flex;
  position: relative;
  flex-direction: column;
  background-image: url('../images/backHome.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 500px;

}

&__hero{
  @include flex(center, 32px);
  flex-direction: column;
  width: 100%;
  margin-bottom: 64px;
  margin-top: 32px;
}
&__hero-content{
  @include flex(space-between,32px);
  width: 100%;
  &--bottom{
    align-items: baseline;
  }
  h1{
    @include text(13.6rem, 400, 7rem, left);
  }
  h3{
    @include text(4.8rem, 600, 7rem, left);
  }
  p{
    @include text(2rem, 400, 4rem, left);
  }
}
&__hero-img{
  width: 100%;
  max-width: 400px;
  img{
    width: 100%;
    object-fit: contain;
  }
  &--logo{
    width: 100%;
    max-width: 200px;
    /* border: 1px solid black; */
    border-radius: 50%;
    padding: 40px;
    mix-blend-mode: multiply;
    box-shadow: 1.18553px 1.42263px 3.14815px 0px rgba(0, 0, 0, 0.02), 5.21632px 6.25958px 6.51852px 0px rgba(0, 0, 0, 0.03), 12.80369px 15.36443px 13px 0px rgba(0, 0, 0, 0.04), 40px -4px 46.85185px 0px rgba(0, 0, 0, 0.05);
  }
  &--bottom{
    max-width: 200px;
  }
}

&__cards{
  @include flex;
  @include content;
  height: 450px;
}
&__cards-canvas{
  @include flex;
  width: 100%;
  height: 100%;
  position: relative;
}
&__cards-stroke{
  @include border;
  position: absolute;
  &--uno{
    @include border;
    width: 95%;
    height: 100%;
  }
  &--dos{
    @include border;
    width: 100%;
    height: 80%;
  }
}
&__cards-stroke-content{
  @include flex;
  position: absolute;
  width: 98%;
  height: 95%;
  background: radial-gradient(87.81% 79.12% at 58.45% 46.66%, #F4F4F4 0%, #E9E9FF 77.6%);
  box-shadow: 0px 0px 205px 14px rgba(31, 64, 95, 0.08), 0px 0px 50px 0px rgba(14, 57, 97, 0.04);
  z-index: 1;
}
&__cards-box{
  @include flex(center, 32px);
  width: 95%;
  height: 80%;
  position: relative;border-radius: 8px;
  background: rgba(255, 255, 255, 0.776);
  
  box-shadow: -3px 0px 29px -5px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(60px);
  padding: 32px
}
&__card{
  @include flex(center, 8px, flex-start);
  margin-top: 8px;
  flex-grow: 1;
  height: 100%;
  width: 30%;
  flex-direction: column;
  p{
    text-align: left;
    @include text(2.4rem, 400, 3.2rem, left);
  }
  img{
    width: 100%;
    object-fit: cover;
    flex-grow: 1;
    border-radius: 8px;
    height: 80%
  }
}
&__paragraphs{
  @include flex(space-between, false, stretch);
  width: 100%;
}
&__paragraph-1{
  width: 45%;
  animation: fade-show 1s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}
&__list-1{
  width: 45%;
  animation: fade-in 1.5s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
 
}
&__contact{
  @include flex(flex-start, false, stretch);
  width: 100%;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  h2{
    @include text(5.6rem, 400, 7.2rem, left);
    margin-bottom: 16px;
    color: var(--text-color);
  }
  p{
    @include text(3.2rem, 400, 4rem, left);
    color: var(--text-color);
  }
  small{
    @include text(2.4rem, 400, 3.2rem, left);
    color: var(--text-color);
  }
}
  @keyframes fade-in{
    0%{
      opacity: 0;
      transform: translateX(50%);
    }
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fade-show{
    0%{
      opacity: 0;
      filter: blur(20px)
    }
    100%{
      opacity: 1;
      filter: brightness(2 blur(10px));
    }
  }
  .paused * { 
    animation-play-state: paused;
  }
}
@import "./responsive/Markets";
