@import "./Mixins";
$icon-active: url("~/poligono.png");

.methodologies{
@include flex(center, 56px, stretch);
width: 100%;
flex-direction: column;

// margin-bottom: 80px;

article{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

&__hero{
  @include flex;
  width: 100%;
  margin-bottom: 64px;
  margin-top: 32px;
}

&__hero-tit{
  
  padding: 32px;
  width: 60%;
  h1{
    @include text(6.4rem, 400, 7rem, left);
  }
  p{
    @include text(3.2rem, 200, 5rem, left);
  }
  button{
    @include button(solid);
    margin-top: 32px;
    &--radius{
      border-radius: 10px;
    }
  }
}
&__hero-img{
  
  flex-grow: 1;
  width: 40%;
  img{
    width: 120%;
    height: auto;
    object-fit: contain;
  }
}

&__marco{
  @include flex(center, false, stretch);
  flex-wrap: wrap;
  width: 100%;
  min-height: 400px;
  margin: 20px auto;
}
&__marco-box{
  width:45%;
  padding: 16px;
  h2{
    @include text(6.4rem, 400, 8rem, left);
  }
  p{
    @include text(2.4rem, 400, 3.2rem, left);
    
  }
}
&__marco-box-img{
  @include flex(space-around, false, stretch);
  flex-direction: column;
  width: 55%;
}

&__marco-header{
  width: 100%;
  @include flex(center, false, center);
  margin: 16px auto;
  flex-wrap: wrap;
  button{
    width: 33%;
    
  border-radius: 16px;
  max-width: 150px;
  margin: auto;
  height: 40px;
    // @include text(1.4rem, 500, 2.4rem, center)
  }
}

&__header-btn-1{
  background-color: #E0E0E0
}
&__header-btn-2{
  background-color: #ACCAF8
}
&__header-btn-3{
  background-color: #B9EEB9
}
&__carrusel{
  @include flex;
  flex-direction: column;
  width: 100%;
  h2{
    width: 100%;
    @include text(4.4rem, 400, 6rem, left);
    margin-bottom: 24px;
  }
}
&__carrusel-box{
  width: 100%;
  display: flex;
  &--agil{
    margin-top: 40px;
    display: flex;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  .cards-agency{
    padding-bottom: 60px!important;
  }
}
&__marco-body{
  @include flex(space-between, false, stretch);
  margin-top: 24px;
  flex-grow: 1;
  width: 100%;
  flex-wrap: wrap;
}
&__marco-body-box{
  @include flex(flex-start, 16px, stretch);
  border-left: 1px solid black;
  flex-direction: column;
  width: 33%;
  button{
    background-color: #FBF7D6;
    width: 90%;
    padding: 8px;
    margin: 0 auto;
  }
}
&__marco-body-box:nth-child(1){
  border-left: 1px solid rgb(216, 216, 216);
}
&__marco-body-box:nth-child(3){
  border-right: 1px solid rgb(216, 216, 216);
}

&__agil{
  flex-direction: column;
  margin: 54px 0;
  gap: 24px;
}
&__title-agil{
  @include text(6.4rem, 400, 8rem, center)
}
&__text-agil{
  width: 100%;
  @include text(2.4rem, 400, 3rem, left);
  color: var(--primary-contrast-color);
  max-width: 700px;
  margin-right: auto;
  line-height: 3.6rem;
  
  &--tit{
    @include text(3.2rem, 400, 4rem, left);
  }
}

&__agil-box{
  @include flex;
    width: 100%;
    flex-direction: row;
}

&__agil-box>div{
  width: 33%;
  flex-grow: 1;
}
&__agil-box-backlog{
  @include flex(space-around, false, center);
 flex-wrap: wrap;
}
&__agil-backlog{
  width: 32%;
}
&__agil-backlog > div:nth-child(1){
  justify-content: flex-start;
  padding-left: 8px;
}
&__agil-circle{
  padding: 16px;
}
&__agil-img{
  @include flex(center, false, flex-start);
  flex-direction: column;
  padding-left: 3%;
  img{
    width: 100%;
    max-width: 300px;
  }
}

&__contact{
  @include flex(flex-start, false, stretch);
  width: 100%!important;
  max-width: inherit!important;
  background: #FEEFEB;
  padding: 54px 0 80px;
  h2{
    @include text(5.6rem, 400, 7.2rem, left);
    margin-bottom: 16px;
    color: var(--text-color);
  }
  p{
    @include text(3.2rem, 400, 4rem, left);
    color: var(--text-color);
  }
  small{
    @include text(2.4rem, 400, 3.2rem, left);
    color: var(--text-color);
  }
}

&__contact-box{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

&__proceso{
  @include flex;
  width: 100%;
  margin-bottom: 40px;
  h2{
    @include text(6.4rem, 400, 8rem, center);
    margin: 32px 0;
    
  }
}

&__proceso-box{
  position: relative;
  @include flex(flex-start, false, stretch);
  flex-direction: column;
  width: 100%;
  padding: 16px 8px;
  
}

 &__move_1{
  animation: move_1 10s infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  
}
 &__move_2{
  animation: move_2 10s infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  
}
 &__move_3{
  animation: move_3 10s infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  
}
}

@keyframes move_1 {
  0% {
    transform: translateX(0);
  }
  10%{
    transform: translateX(0);
  }
  40% {
    transform: translateX(115%);
  }
  60%{
    transform: translateX(115%);
  }

  90%{
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
  
}

@keyframes move_2 {
  0% {
    transform: translateY(0);
  }
  10%{
    transform: translateY(0);
  }
  40% {
    transform: translateY(-145%);
  }
  60%{
    transform: translateY(-145%);
  }
  90%{
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
  
  
}

@keyframes move_3 {
  0% {
    transform: translateY(0);
  }
  10%{
    transform: translateY(0);
  }
  40% {
    transform: translateY(145%);
  }
  60% {
    transform: translateY(145%);
  }
  
  90%{
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
  
  
}
@import "./responsive/Methodologies";