@import "./Mixins";
main{
  @include main-box(100%, 0px);
}
article{
  // @include border;
  position: relative;
}
section{
  // @include border
}

.box{
  // @include border;
}

.services{
  
&__hero{
  min-height: 500px;
}
&__hero-section{
  @include flex(center, 10px);
  flex-direction: column;
  color: var(--text-invert);
  padding: 50px 8px;
  h4{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 24px;
  }
  p{
    font-size: 2rem;
    line-height: 3.2rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
&__hero-actions{
  @include flex(center, 32px);
  flex-grow: initial;
}
&__hero-action{
  &--about{
    @include button;
  }
  &--contact{
    @include button(outline);
  }
  padding: 10px 24px 8px!important;
  border-radius: 36px!important;
}
&__mision{
  padding: 80px 8px;
}

&__mision-section {
  @include article-box;
  flex-direction: row;
}

&__mision-box {
  @include flex(center, 32px, flex-start);
  flex-direction: column;
  padding: 32px;
  color: var(--text-invert);
}

&__box{
  @include flex(flex-start, 6px, flex-start);
  flex-wrap: wrap;
}

&__contact-section{
  @include flex(center,false,stretch);
  // max-height: 650px;
  padding: 80px 32px;
  
}

&__contact-left{
  padding: 50px 48px;
  border-radius: 16px 0 0 16px;
  background: radial-gradient(50% 71.86% at 50% 50%, #626262 0%, #3E3E3E 100%);
  h4{
    max-width: 80%;
    color: var(--text-invert);
  }
  h5{
    padding: 16px 0;
    color: var(--text-invert);
  }
}
&__contact-right{
  position:relative;
  max-width: 47%;
  padding: 32px;
  border-radius: 0 16px 16px 0;
  overflow: hidden;
}
}

@import "./responsive/Services";