.banners {
  @include for-size(desktop-xbig) {
  }
  @include for-size(desktop-big) {
  }
  @include for-size(desktop-mid-big) {
  }
  @include for-size(desktop-mid) {
    &__added {
      justify-content: space-around;
      .banners__added-box:nth-child(3) {
        display: none;
      }
    }
  }
  @include for-size(desktop) {
  }
  @include for-size(tablet-landscape) {
    &__body {
      flex-direction: column;
    }
    &__main {
      margin: auto;
      width: 100%;
    }
    &__aside{
      @include flex(flex-start, 16px, flex-start);
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
    &__subtitle {
     width: 100%;
     margin-bottom: 8px;
     
    }
  }
  @include for-size(tablet-portrait) {
    &__prewiev {
      padding: 0px 8px 0px;
    }

    &__added {
      .banners__added-box:nth-child(2) {
        display: none;
      }
    }
    &__home2 {
      flex-direction: column;
    }
    &__home2-box {
      width: 100%;
      flex-grow: 1;
    }
    &__form-box {
      width: 200px;
      min-width: 200px;
    }
    &__prewiev {
      padding: 0px 8px 0px;
    }
    &__form-box {
      padding: 0 8px;
    }
  }
  @include for-size(tablet-small) {
  }
  @include for-size(phone-xbig) {
  }
  @include for-size(phone-big) {
  }
  @include for-size(phone-mid) {
  }
  @include for-size(phone) {
  }
}
