.banners-m {
  @include for-size(desktop-xbig) {
  }
  @include for-size(desktop-big) {
  }
  @include for-size(desktop-mid-big) {
  }
  @include for-size(desktop-mid) {
  }
  @include for-size(desktop) {
  }
  @include for-size(tablet-landscape) {
    &__body {
      flex-direction: column;
    }
    &__main {
      margin: auto;
      width: 100%;
    }
  }
  @include for-size(tablet-portrait) {
    &__prewiev {
      padding: 0px 8px 0px;
    }

    &__form-box {
      width: 200px;
      min-width: 200px;
    }
    &__prewiev {
      padding: 0px 8px 0px;
    }
    &__form-box {
      padding: 0 8px;
    }
  }
  @include for-size(tablet-small) {
    &__added {
      justify-content: center;
      .banners-m__added-box:nth-child(2) {
        display: none;
      }
    }
  }
  @include for-size(phone-xbig) {
  }
  @include for-size(phone-big) {
  }
  @include for-size(phone-mid) {
  }
  @include for-size(phone) {
  }
}
