.benefits {
  @include for-size(desktop-xbig) {
  }
  @include for-size(desktop-big) {
  }
  @include for-size(desktop-mid) {
  }
  @include for-size(desktop) {
    &__copy {
      height: auto;
    }
    &__copy-box {
      padding: 1rem 1.6rem;
    }
  }
  @include for-size(tablet-landscape) {
  }
  @include for-size(tablet-portrait) {
    &__copy {
      flex-direction: column;
      height: auto;
    }
    &__copy-img {
      width: 100%;
      order: 1;
      min-height: 300px;
    }
    &__copy-box {
      width: 100%;
      order: 2;
      padding: 4rem 1.6rem;
      align-items: left;
      &--drak {
        background: var(--text-contrast-color);
        color: var(--text-color);
      }
      &--white {
        align-items: self-start;
      }
    }

    &__copy-title {
      font-size: 2.4rem;
      font-weight: 400;
      &--dark {
        color: var(--text-color);
      }
    }
    &__copy-text {
      font-size: 2rem;
      font-weight: 400;
      &--dark {
        color: var(--text-color);
        text-align: left;
      }
    }
    &__copy-button--dark {
      @include button(solid, 100%);
      max-width: 92.5%;
      position: fixed;
      bottom: 1rem;
      left: 0;
      right: 0;
      margin: 3.75%;
      border: 1px solid white;
      background-color: black;
      z-index: 5;
    }
    &__button_evaluacion {
      display: none;
    }
    &__copy-title {
      line-height: 0.5rem;
    }
    &__mobile {
      display: block;
      text-align: justify;
      font-size: 1.7rem;
    }
    &__desktop {
      display: none;
    }
    &__copy-txt1 {
      @include text(2.2rem, 400, 2.4rem, left);
      max-width: 400px;
      color: var(--text-color);
    }
  }
  @include for-size(tablet-small) {
  }
  @include for-size(phone-xbig) {
  }
  @include for-size(phone-big) {
  }
  @include for-size(phone-mid) {
  }
  @include for-size(phone) {
  }
}
