.home {
  @include for-size(desktop-xbig) {
  }
  @include for-size(desktop-big) {
  }
  @include for-size(desktop-mid) {
  }
  @include for-size(desktop) {
  }
  @include for-size(tablet-landscape) {
  }
  @include for-size(tablet-portrait) {
    .home__search {
      width: 10px !important;
    }
    &__copy {
      flex-direction: column;
      height: auto;
    }
    &__copy-box-img{
      width: 100%;
      height: 300px;
    }
    &__copy-img {
      width: 100%;
      order: 2;
     
    }
    &__copy-box {
      width: 100%;
      order: 1;
      padding: 4rem 2rem;
    }
    &__copy-img-vende {
      order: 2;
      width: 100%;
      object-fit: cover;
      object-position: center;
      padding: 0 0 6rem 0;
      background-color: black;
    }

    &__ubication {
      padding: 16px;
    }
    &__security,
    &__client,
    &__agency {
      padding: 16px;
    }
    &__agency-box {
      flex-direction: column;
      align-items: center;
    }
    &__copy-title,
    &__security-title,
    &__agency-title {
      @include text(3rem, 400, 3rem, center);

      &--dark {
        color: var(--text-contrast-color);
      }
    }
    &__copy-text,
    &__security-text,
    &__agency-text {
      @include text(1.9rem, 400, 2.6rem, center);
      max-width: 400px;
      &--dark {
        color: var(--text-contrast-color);
      }
    }
    &__content {
      padding: 0;
      background-image: none;
      &--white{
        background-image: white;
      }
    }
    

    &__agency {
      padding: 8rem 2rem;
    }
  }
  @include for-size(tablet-small) {
    &__hero {
      .swiper-pagination {
        display: none;
      }
    }
    &__hero-top {
      display: flex;
    }
    &__copy-button{
      display: none;
    }
  }
  @include for-size(phone-xbig) {
    &__security-desktop{
      display: none;
    }
    &__security-mobile{
      display: block;
    }
  }
  @include for-size(phone-big) {
  }
  @include for-size(phone-mid) {
  }
  @include for-size(phone) {
  }
}
