.userDetalle {
  @media screen and (min-width: 1px) {
    &__added--mobil{
      .userDetalle__added-box:nth-child(2) {
        display: none;
      }
    }
  }
  @include for-size(desktop-xbig) {
  }
  @include for-size(desktop-big) {
  }
  @include for-size(desktop-mid-big) {
  }
  @include for-size(desktop-mid) {
    &__added {
      justify-content: center;
      gap: 16px;
      .userDetalle__added-box:nth-child(3) {
        display: none;
      }
    }
  }
  @include for-size(desktop) {
  }
  @include for-size(tablet-landscape) {
    &__main {
      margin: auto;
    }

    &__detail {
      height: 200px;
    }
    &__box-detail {
      height: auto;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    &__deatil-text-box {
      margin-top: 16px;
    }
  }
  @include for-size(tablet-portrait) {
    &__main {
      width: 100%;
    }
    &__form-box {
      width: 200px;
      min-width: 200px;
    }
  }
  @include for-size(tablet-small) {
    &__box-detail {
      padding: 8px;
    }
    &__box-desc {
      padding: 24px 16px;
    }
    &__dummy {
      padding: 24px 16px;
    }
    &__added {
      justify-content: center;
      gap: 16px;
      .userDetalle__added-box:nth-child(2) {
        display: none;
      }
    }
  }
  @include for-size(phone-xbig) {
  }
  @include for-size(phone-big) {
  }
  @include for-size(phone-mid) {
  }
  @include for-size(phone) {
  }
}
