.about {
  @include for-size(desktop-xbig) {}
  @include for-size(desktop-big) {}
  @include for-size(desktop-mid) {}
  @include for-size(desktop) {}
  @include for-size(tablet-landscape) {
    &__why-box-cards{
      width: 46%;
    }
    &__our-cards{
      max-width: max-content;
      overflow: hidden;
      overflow-x: scroll;
    }


  }
  @include for-size(tablet-portrait) {
    gap: 16px;

    article{
      padding-left: 8px;
      padding-right: 8px;
    }
    
    &__hero{
      flex-direction: column;
      border-bottom: 3px solid var(--primary-color);
      margin-bottom: 0;
      padding-bottom: 64px!important;
      
    }
    &__why-box{
      padding: 0;
    }
    &__hero-tit{
      width:100%;
      order: 4;
      h1{
       font-size: 5.4rem;
      }
      p{
        font-size: 2.4rem;
        line-height: 4rem;
      }
      button{
        max-width: inherit;
        width: 100%;
      }
    }
    &__hero-img{
      width: 100%;
      img{
        width: 120%;
        object-fit: contain;
        object-position: center;
      }
    }
    &__strategy{
      margin-top: 32px;
      h2{
        font-size: 5.4rem;
      }
      p{
        font-size: 2.4rem;
        line-height: 4rem;
        max-width: 100%;
      }
    }
    &__our{
      margin-top: 50px;
      gap:24px;
      h2{
        font-size: 5.4rem;
      }
      p{
        font-size: 2.4rem;
        line-height: 4rem;
      }
    }
    &__ideology{
      h4{
        font-size: 4rem;
        line-height: 4.4rem;
      }
    }
    
  }
  @include for-size(tablet-small) {
    &__strategy-cards{
      flex-direction: column;
      gap: 0;
    }
    &__ideology-cards{
      flex-direction: column;
      gap: 24px;
    }
    &__why-box-cards{
      width: 100%;
      height: auto;
    }
    &__strategy{
      h2{
        text-align: left;
      }
      p{
        text-align: left;
        line-height: 3rem;
      }
    }
  }
  @include for-size(phone-xbig) {
    &__hero-tit{
      padding: 8px;
      h1{
        @include text(5rem, 400, 5.5rem, left);
      }
      p{
        @include text(2.4rem, 200, 3rem, left);
      }
    }
    h2{
      font-size: 3.6rem;
      line-height: 4rem;
    }
  }
  @include for-size(phone-big) {}
  @include for-size(phone-mid) {}
  @include for-size(phone) {}
}