.home {
  $root: &;
  @include for-size(desktop-xbig) {
  
  }
  @include for-size(desktop-big) {
    &__card-desktop-box{
      gap: 32px (calc(100% / 10.6));
    }
    
  }
  @include for-size(desktop-mid) {}
  @include for-size(desktop) {}
  @include for-size(tablet-landscape) {
    &__card-desktop-box{
      display: none;
    }
    &__card-mobile{
      display: block;
    }
    &__faq{
     
      .container{
        padding: 64px 16px; 
      }
    }
  }
  @include for-size(tablet-portrait) {
    &__How-buy-container{
      flex-direction: column;
      gap: 16px;
    }
    &__title-content{
      justify-content: space-between;
    }
    
  }
  @include for-size(tablet-small) {
    
  }
  @include for-size(phone-xbig) {
    &__hero{
      height: auto; 
    }
    &__btn-outline{
      font-size: 1.9rem;
      margin-right: 16px;
    }
  }
  @include for-size(phone-big) {
  }
  @include for-size(phone-mid) {}
  @include for-size(phone) {}
}