.products {
  $root: &;
  @include for-size(desktop-xbig) {}
  @include for-size(desktop-big) {
    &__card-desktop-box{
      gap: 32px (calc(100% / 10.6));
    }
    
      &__card-desktop{
        &[data-from='home']{
          &:nth-child(7){
            display: none;
          }
          &:nth-child(8){
            display: none;
          }
        }
        
      }
    
  }
  @include for-size(desktop-mid) {
   
    &__card-desktop{
      width: 100%;
      max-width: 250px;
      &[data-grid='false']{
        width: 100%;
        max-width: inherit
       }
    }
  }
  @include for-size(desktop) {
   
    
  }
  @include for-size(tablet-landscape) {
    &__card-desktop-box{
      justify-content: center;
      gap: 16px;
    }
  }
  @include for-size(tablet-portrait) {
    &__title-content{
      justify-content: space-between;
    }
    &__card-desktop{
      width: 100%;
      max-width: 300px;
    }
  }
  @include for-size(tablet-small) {}
  @include for-size(phone-xbig) {
    &__btn-outline{
      font-size: 1.9rem;
      margin-right: 16px;
    }
   
  }
  @include for-size(phone-big) {}
  @include for-size(phone-mid) {}
  @include for-size(phone) {}
}