.services {
  @include for-size(desktop-xbig) {}
  @include for-size(desktop-big) {}
  @include for-size(desktop-mid) {}
  @include for-size(desktop) {
    &__hero-tit{
      width: 40%;
    }
    &__hero-img{
      width: 60%;
    }

  }
  @include for-size(tablet-landscape) {}
  @include for-size(tablet-portrait) {
    gap: 16px;
    &__hero{
      flex-direction: column;
    }
    &__hero-tit{
      width:100%;
      margin-top: 54px;
    }
    &__hero-img{
      width: 100%;
      img{
        width: 120%;
        object-fit: contain;
        object-position: center;
        margin-left: -10%;
      }
    }
    &__paragraphs{
      flex-direction: column;
      margin-bottom: 54px;
    }
    &__paragraph-1{
      width: 100%;
    }
    &__list-1{
      width: 100%;
    }
  }
  @include for-size(tablet-small) {}
  @include for-size(phone-xbig) {
    &__hero-tit{
      padding: 8px;
      h1{
        @include text(5rem, 400, 5.5rem, left);
      }
      p{
        @include text(2.4rem, 200, 3rem, left);
      }
    }
  }
  @include for-size(phone-big) {}
  @include for-size(phone-mid) {}
  @include for-size(phone) {}
}
