@import "../Mixins";

.carSlide {
    align-items: center;
    width: 100%;
    margin: auto;
    border: 0.5px solid #ffffff;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 24px;
		&[data-grid='false']{
			flex-direction: row;
			gap: 0;
			align-items: stretch;
			}

	.home__five-img{
		&[data-grid='false']{
		width: 300px;
		height: 250px;
	 	}
	}
    &__text-content {
        display: flex;
				&[data-grid='false']{
					width:100%;
					max-width: 350px;
					@include flex(flex-start, 8px);
					align-items: stretch;
				 }
        
    }
    &__data {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
				&[data-grid='false']{
					height: 100%;
					gap: 20px;
					justify-content: space-between;
				}
        &.circuits[data-grid='false']{
					height: 100%;
          gap: 0px;
          justify-content: space-evenly;
				}
    }
		&__cart{
			@include flex(center, false, flex-end);
			&[data-grid='false']{
				align-items: flex-start;
				margin-top: 24px;
			}
		}
		&__btn-box{
			@include button(outline);
			gap: 0px;
			flex-grow: 1;
			font-size: 1.8rem;
			margin: 0;
			padding: 0;
			border: 1px solid var(--neutral-100, #D9D9D9);
			border-radius: 2px;
			&[data-grid='false']{
				border: 1px solid var(--text-color);
				padding: 4px 8px;
				font-size: 1.4rem;
				margin-top: 8px;
				&::after{
					content: "Agregar al carrito";
					text-transform: uppercase;
					margin-left: 4px;
				}
			}
		}
		&__icon{
			color: var(--text-color);;
			margin: 0;
			padding: 4px;
		}

    &__box-hero {
        @include flex(center, 8px, flex-start);
       flex-direction: column;
        @include for-size(tablet-portrait) {
            min-height: 50px;
        }
    }

    &__title {
      font-weight: 700;  
    }

    &__info{
			@include flex(flex-start, 8px);
			flex-wrap: wrap;
			&[data-grid='false']{
				margin-top: -26px;
			}
		}
		&__info-text{
			font-size: 1.2rem;
			&::before{
				content: "•";
				margin-right: 8px;
			}
			&:nth-child(1){
				&::before{
					content: "";
					margin-right: 0px;
				}
			}
			&[data-grid='false']{
				&::before{
					content: "";
					margin-right: 0px;
				}
			}
			&--model{
				&[data-grid='false']{
					font-size: 1.4rem;
				&::before{
					content: "Modelo:";
					margin-right: 4px;
					font-weight: 600;
				}
			}
			}
			&--type{
				&[data-grid='false']{
					font-size: 1.4rem;
				&::before{
					content: "Código:";
					margin-right: 4px;
					font-weight: 600;
				}
			}
			}
      &--quantity{
        &[data-grid='false']{
          font-size: 1.4rem;
        &::before{
          content: "Productos:";
          margin-right: 4px;
          font-weight: 600;
        }
      }
      }
		}

    &__quantity{
      @include flex(flex-start, 32px, flex-start);
       flex-direction: column;
       margin-top: -16px;
    }

		&__prices{
			@include flex(flex-start, 8px);
		}
		&__prices-text-price{
			font-size: 10px;
			color: var(--red-color);
			text-decoration: line-through;
		}
		&__prices-text-sale{
			font-size: 14px;
			font-weight: 500;
			&::before{
				content: "Ahora";
				margin-right: 4px;
			}
			&::after{
				content: "MXN";
				margin-left: 4px;
			}
		}

		&__box-row{
			@include flex(flex-start, 8px, flex-start);
			flex-direction: column;
		}
		@include for-size(tablet-landscape) {
			.home__five-img > .swiper.slider-images > .swiper-wrapper .swiper-slide{
		height: 200px;
		}
		}
		@include for-size(phone-xbig) {
			.home__five-img > .swiper.slider-images > .swiper-wrapper .swiper-slide{
		height: 300px;
		}
		}
	&__noPrice{
		@include flex(flex-start, 4px);
	}
	&__noPrice-icon{
		color: #2d679f;
	}
	&__noPrice-text{
		font-size: 1.4rem;
		color: #2d679f;
	}
}