@import "../Mixins";

.product {
  width: 100%;
  border: 0.5px solid #ffffff;
  margin: 0;
  padding: 0;
  gap: 24px;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;


  .home__five-img {
    max-width: 500px;
  }

  &__text-content {
    width: 100%;
    max-width: 500px;
    @include flex(flex-start, 8px);
    align-items: stretch;

  }

  &__data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    gap: 20px;
    justify-content: space-between;

    &.circuits {
      height: 100%;
      gap: 0px;
      justify-content: space-evenly;
    }
  }

  &__cart {
    @include flex(center, false, flex-start);
    margin-top: 24px;

  }

  &__btn-box {
    @include button(solid);
    gap: 0px;
    flex-grow: 1;
    border-radius: 2px;
    border: 1px solid var(--text-color);
    padding: 8px 8px;
    font-size: 1.4rem;
    margin-top: 8px;

    &::after {
      content: "Agregar al carrito";
      text-transform: uppercase;
      margin-left: 4px;
    }

    &--whats{
      @include button(outline);
      padding: 8px 8px;
      &::after {
        content: "Cotízar por WhatsApp";
        text-transform: uppercase;
        margin-left: 0px;
      }
    }

  }

  &__icon {
    color: var(--text-color);
    margin: 0;
    padding: 4px;
  }

  &__box-hero {
    @include flex(center, 8px, flex-start);
    flex-direction: column;

    @include for-size(tablet-portrait) {
      min-height: 50px;
    }
  }

  &__title {
    @include text(3.2rem, 700);
    font-weight: 700;
    padding-top: 8px
  }

  &__info {
    @include flex(flex-start, 8px, flex-start);
    flex-wrap: wrap;

    margin-top: -26px;

  }

  &__info-text {
    font-size: 1.2rem;


    &--model {

      font-size: 1.4rem;

      &::before {
        content: "Modelo:";
        margin-right: 4px;
        font-weight: 600;
      }

    }

    &--type {

      font-size: 1.4rem;

      &::before {
        content: "Código:";
        margin-right: 4px;
        font-weight: 600;
      }

    }
    &--color {

      font-size: 1.4rem;

      &::before {
        content: "Color de pintura:";
        margin-right: 4px;
        font-weight: 600;
      }

    }
    &--tapiz {

      font-size: 1.4rem;

      &::before {
        content: "Color de tapíz:";
        margin-right: 4px;
        font-weight: 600;
      }

    }

    &--quantity {

      font-size: 1.4rem;

      &::before {
        content: "Productos:";
        margin-right: 4px;
        font-weight: 600;
      }

    }
  }

  &__quantity {
    @include flex(flex-start, 32px, flex-start);
    flex-direction: column;
    margin-top: -16px;
  }

  &__prices {
    @include flex(flex-start, 8px);
  }

  &__prices-text-price {
    font-size: 10px;
    color: var(--red-color);
    text-decoration: line-through;
  }

  &__prices-text-sale {
    @include text(3.2rem, 700);
    &::after {
      content: "MXN";
      margin-left: 4px;
    }
  }

  &__box-row {
    @include flex(flex-start, 8px, flex-start);
    @include border(#e5e5e5);
    border-right: none;
    border-left: none;
    width: 100%;
    flex-direction: column;
    padding: 16px 0;
  }

  @include for-size(desktop-mid) {
    .home__five-img {
      max-width: 300px;
    }
   
  }

  @include for-size(tablet-landscape) {
    .home__five-img>.swiper.slider-images>.swiper-wrapper .swiper-slide {
      height: 200px;
    }
    &__text-content {
      max-width: inherit;}

      .home__five-img {
        max-width: inherit;
      }
    
  }

  @include for-size(phone-xbig) {
    .home__five-img>.swiper.slider-images>.swiper-wrapper .swiper-slide {
      height: 300px;
    }
  }

  &__noPrice {
    @include flex(flex-start, 4px);
  }

  &__noPrice-icon {
    color: #2d679f;
  }

  &__noPrice-text {
    font-size: 1.4rem;
    color: #2d679f;
  }
  &__content-buttons{
    @include flex(flex-start, 8px, center);
  }
  @include for-size(tablet-small) {
    &__content-buttons{
      flex-direction: column;
      gap: 8px;
    }
    &__btn-box{
      width: 100%;
      max-width: inherit;
    }
  }
}