@import "./Mixins";
.home{
  &__button-solid{
    @include button(solid);
    &--radius{
      border-radius: 10px;
    }
  }
  &__button-outline{
    @include button(outline);
  }
  &__h1{
    @include text(6.4rem, 500, 7rem, left);
    color: var(--primary-contrast-color);
  }
  &__subtitle{
    @include text(4.4rem, 400, 5rem, left);
    color: var(--primary-contrast-color);
  }
  &__title{
    @include text(5.6rem, 400, 6rem, left);
    color: var(--primary-contrast-color);
    margin: 16px 0;
    &--center{
      text-align: center;
    }
  }
  
  &__text{
    @include text(2.4rem, 400, 3rem, left);
    color: var(--primary-contrast-color);
    &--strong{
      font-weight: 600;
      font-size: 3.2rem;
      text-align: center;
    }
  }
  &__content-image{
    @include flex(center, false, stretch);
    flex-direction: column;
  }

  &__image-box{
    @include flex;
    position: relative;
    flex-grow: 1;
  }
  &__image-traslade{
    position: absolute;
    opacity: 0;
    &[data-show="true"]{
      opacity: 1;
      transition: opacity 1s;
    }
    &[data-show="false"]{
      opacity: 0;
      transition: opacity 1s;
    }
  }
  

}