@import "../Mixins";
$icon-arrow: url("@/assets/images/icons/icon-arrow.svg");
$background-home: url("@/assets/images/bg-content-home.png");
$background-home2: url("@/assets/images/bg-content-home2.png");
$dot: url("@/assets/images/icons/icon-dot.svg");
$clock: url("@/assets/images/icons/icon-clock.svg");
$dot-hover: url("@/assets/images/icons/icon-dot-hover.svg");

.benefits {
  @include content(100%, 0);
  @include flex(center, false, flex-start);
  flex-direction: column;

  &__copy {
    @include content(100%, 0);
    @include flex(center, false, stretch);
    height: 500px;
  }
  &__copy-img {
    width: 50%;
    object-fit: cover;
    object-position: center;
  }
  &__copy-box {
    width: 50%;
    @include flex(center, 16px, center);
    flex-direction: column;
    background: var(--text-contrast-color);
    padding: 0 40px;
    &--drak {
      background-color: var(--primary-color);
    }
  }
  &__copy-title {
    @include text(4.8rem, 400, 5.5rem, left);
    &--dark {
      color: var(--text-contrast-color);
    }
  }
  &__copy-text {
    @include text(2rem, 400, 2.6rem, left);
    max-width: 55rem;
    &--dark {
      color: var(--text-contrast-color);
    }
  }
  &__copy-box-content {
    @include flex(center, 16px, flex-start);
    flex-direction: column;
  }
  &__copy-button {
    @include button(solid, 500px);
    &--dark {
      @include button(outline, 430px);
    }
  }
  &__copy-opcion-text {
    @include border(#fff);
  }
  &__copy-opcion {
    @include flex(flex-start, 8px, flex-start);
    color: white;
  }
  &__copy-opcion-btn {
    @include border(var(--secondary-color));
    @include text(1.5rem, 600, 2.4rem, center);
    padding: 4px 24px;
    border-radius: 5px;
    background: var(--secondary-color);
    margin-right: 24px;
  }
  &__copy-txt1 {
    @include text(1.8rem, 400, 2.4rem, left);
    max-width: 400px;
    color: var(--text-color);
  }
  &__copy-txt2 {
    @include text(1.7rem, 400, 2.2rem, left);
    max-width: 400px;
    color: var(--text-color);
  }
  &__mobile {
    display: none;
  }
  &__desktop {
    display: block;
  }
}

.faq-accordion-header-text {
  @include text(1.5rem, 500, 2.6rem, start);
  color: black;
}

.faq-accordion-header {
  @include flex();

  min-height: 60px;

  &__brand {
    margin-bottom: 4px;
    height: auto;
    .btn-filters {
      border: none !important;
      padding: 4px !important;
      border-radius: 3px;
    }
    .btn-filters.is-active {
      background: #0202021a;
      border-color: var(--primary-color) !important;
      span {
        color: var(--text-color) !important;
      }
    }
  }
  button {
    padding-left: 0;
    padding-right: 0;
  }
}
.faq-accordion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  padding-bottom: 50px;
  &--brand {
    padding-bottom: 0;
  }

  @include for-size(tablet-landscape) {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
.faq-accordion-body {
  padding: 0 1rem 1rem 1rem;
  @include text(1.5rem, 500, 1.5rem, justify);
}

.btn-model {
  @include flex(space-between, 4px);
  flex-wrap: wrap;
  padding-bottom: 8px;
}
.faq-accordion,
.faq-accordion-item {
  background: transparent;
}
.faq-accordion-button {
  width: 100%;
  text-align: start;
  padding: 0px 1rem !important;
}

.faq-accordion-item {
  border-bottom: 1px solid #2b2b40;
  align-self: start;
}

.faq-accordion-button[data-v-a7b18a08]:not(.collapsed).btn-filters {
  box-shadow: none;
}
.faq-accordion-button:not(.btn-filters),
.faq-accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}

.faq-accordion-button:not(.collapsed) {
  &::after {
    filter: invert(52%) sepia(40%) saturate(3589%) hue-rotate(347deg)
      brightness(101%) contrast(101%);
  }
}

.faq_title {
  @include text(3.5rem, 400, auto, center);
  margin-bottom: 3rem;
  @include for-size(tablet-landscape) {
    @include text(2.5rem, 400, auto, left);
  }
}
.faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 4rem 0;
  padding: 0rem 22%;
  @include for-size(desktop-big) {
    padding: 0 10%;
  }
  @include for-size(desktop-md) {
    padding: 0 15%;
  }
  @include for-size(tablet-landscape) {
    padding: 0px 1rem;
  }
}
@import "./responsive/Benefits";
