@import "../Mixins";
$icon-arrow: url("@/assets/images/icons/icon-arrow.svg");
p {
  margin-bottom: 0;
}

.detail {
  @include content(100%, 0);
  &__hero-content,
  &__detail-content {
    @include content(100%, 0);
    background: var(--text-contrast-color);
    padding: 20px 0;
  }

  &__hero-content{
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12), 0px 4px 8px rgba(0, 0, 0, 0.08);
    position: fixed;
    z-index: 3;
    transform: translateY(-200px);
    transition: transform 0.3s ease-in-out;
  }
  &__hero--fixed{
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }

  &__hero{
    @include content(1200px, 0);
    @include flex(space-between);
    flex-wrap: wrap;
  }
  &__hero-img-box{
    width: 100px;
    height: 64px;
    border-radius: 8px;
  }
  &__hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  &__hero-detail{
    @include flex(space-around);
    flex-wrap: wrap;
    flex-grow: 1;
  }
  &__hero-box{
    @include flex(flex-start, 4px, flex-start);
    flex-direction: column;
  }
  &__hero-name,
  &__hero-price{
    @include text(2.4rem, 400, 2.8rem);
  }
  &__hero-kms,
  &__hero-txt{
    @include text(1.6rem, 400, 2.4rem);
    color: #ABABAB;
    
  }

  &__galery-load {
    width: 100%;
    height: 100%;
    @include load();
  }

  &__detail-galery {
    @include content(1200px, 0);
    @include flex(flex-start, 16px, stretch);
    padding: 8px;
  }
  &__galery {
    width: 70%;
    margin: initial;
    max-height: 700px;
  }
  &__content {
    @include flex(flex-start, 20px, stretch);
    flex-direction: column;
    position: relative;
    width: 30%;
  }
  &__content-texts{
    @include flex(flex-start, 16px, stretch);
    flex-direction: column;
  }
  &__content-name {
    @include text(2.4rem, 400, 3.2rem, left);
  }
  &__content-kms {
    @include text(1.6rem, 400, 2.4rem, left);
    color: #ababab;
  }
  &__content-price {
    @include text(4.8rem, 400, 5.6rem, left);
  }
  &__content-agency {
    @include border(#dfdfdf);
    @include flex(center, 8px, flex-start);
    flex-direction: column;
    width: 100%;
    background: #f8fafc;
    padding: 16px 8px;
  }
  &__content-ubication {
    @include text(1.2rem, 400, 1.4rem, left);
  }
  &__agency {
    @include flex;
    @include text(1.6rem, 600, 2.4rem, left);
  }
  &__agency-ubication {
    @include text(1.6rem, 400, 2.4rem, left);
  }
  &__agency-map {
    @include text(1.4rem, 600, 1.8rem, left);
  }
  &__detail-galery__sumary {
    @include content(1200px, 0);
    @include flex(flex-start, false, flex-start);
  }
  &__agency-btnWhat {
    @include button(whatassap, 100%);
    border-radius: 3px;
    &--hero{
    width: auto;
    }
  }
  &__agency-btnText {
    margin-bottom: 0;
  }
  &__agency-btnMail {
    @include button(solid, 100%);
    border-radius: 3px;
    &--hero{
      width: auto;
    }
  }
  &__sumary {
    @include content(1200px, 0);
    @include flex(flex-start, 16px, stretch);
    flex-direction: column;
    padding: 8px;
    padding-bottom: 40px;
  }

  &__sumary-title {
    @include content(1200px, 0);
    @include flex(flex-start);
    @include text(2.4rem, 400, 2.8rem, left);
    color: var(--text-color);
    padding: 20px 0;
    border-bottom: 1px solid var(--text-color);
    &--spec {
      color: var(--text-contrast-color);
      border-bottom: 1px solid var(--text-contrast-color);
      font-size: 4.8rem;
      
    }
    &--contact{
      border-bottom: none;
      font-size: 4.8rem;
     
      margin-bottom: 16px!important;
    }
  }
  &__sumary-box {
    @include flex(space-around, 16px 0, stretch);
    background: (var(--text-contrast-color));
    padding: 20px;
  }
  &__sumary-sumary {
    @include flex(flex-start, 16px, center);
    flex-direction: column;
  }
  &__sumary-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
  }
  &__spec-content {
    @include border;
    background: var(--primary-color);
    padding: 30px 0;
  }

  &__specs {
    @include content(1200px, 0);
    @include flex(flex-start, 24px, stretch);
    flex-direction: column;
    position: relative;
  }
  &__sumary-box-specs {
    @include flex(space-around, 24px, stretch);
    width: 100%;
    flex-wrap: wrap;
    height: 200px;
    transition: 0.4s;
    overflow: hidden;
    z-index: 1;
    &[data-watch="true"] {
      height: auto;
      transition: 0.4s;
    }
  }
  &__specs-box {
    @include flex(flex-start, false, stretch);
    padding-bottom: 25px;
    border-bottom: 1px solid var(--text-contrast-color);
    width: calc(33% - 24px);
  }
  &__specs-text {
    @include text(1.4rem, 400, 2rem, left);
    color: var(--text-contrast-color);
  }
  &__specs-box-bnt {
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(2, 2, 2, 0.8) 0%,
      rgb(2, 2, 2) 37%,
      rgb(2, 2, 2) 100%
    );
    padding: 40px 0 20px;
    margin-top: -80px;
    transition: 0.4s;
    z-index: 2;
    &[data-watch="true"] {
      margin-top: initial;
      transition: 0.4s;
    }
  }
  &__spec-btn {
    @include button(outline, 80%);
    border-radius: 3px;
    margin: auto;
  }
  &__contact {
    @include content(1200px, 0);
    padding: 60px 0px 40px;
  }
  &__contact-sub{
      @include text(2rem, 400, 2.6rem, left);
      color: var(--text-color);
      margin-bottom: 24px!important;
  }
  &__contact-form{
    @include flex(space-evenly, 16px, stretch);
    flex-wrap: wrap;
  }
  &__inputs{
    @include flex(flex-start, 0px, stretch);
    flex-direction: column;
    width: calc(50% - 16px);
  }
  &__contact-send{
    @include flex;
    width: 100%;
    margin-top: 20px;
  }
  &__contact-send-btn{
    @include button(solid, 100%);
  }
  &__simil {
    @include content(1200px, 0);
  }
  &__simil-galery{
    width: 100%;
    padding: 40px 0;
  }
  &__banner{
    @include content(100%, false);
    display: none;
    &[data-device='true']{
      display: flex;
    }
    &[data-default='true']{
      display: flex;
    }
    
  }
  &__banner-box-img{
    @include content(1200px, false);
    @include flex;
  }
  &__banner-img{
    width: 100%;
    height: auto;
  }
}

.detail {
  .body {
    display: none;
  }
}
.page-load {
  .detail {
    .body {
      display: flex;
      width: 100%;
      height: 100vh;
      position: fixed;
      z-index: 4;
      background: #ffffff;
      bottom: 0;
    }
  }
}

@import "./responsive/Detail";
