@import "../Mixins";
$icon-arrow: url("@/assets/images/icons/icon-arrow.svg");
$background-home: url("@/assets/images/bg-content-home.png");
$background-home2: url("@/assets/images/bg-content-home2.png");
$dot: url("@/assets/images/icons/icon-dot.svg");
$clock: url("@/assets/images/icons/icon-clock.svg");
$dot-hover: url("@/assets/images/icons/icon-dot-hover.svg");

.home {
  @include content(100%, 0);
  @include flex(center, false, flex-start);
  flex-direction: column;
  &__hero-top {
    @include content(100%, 0);
    @include flex(space-around, 8px, center);
    flex-wrap: wrap;
    padding: 8px 8px;
    position: fixed;
    bottom: 0;
    z-index: 3;
  }
  &__hero-top {
    background-color: rgba(255, 255, 255, 0.2);
    display: none;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(2px);
    padding: 1rem 2rem;
  }
  /* &__hero-top--fixed {
    position: fixed;
    top: 95px;
    z-index: 3;
    transition: all 0.5s ease-in-out;
  } */
  &__hero-top-btn {
    @include button;
    flex-grow: 1;
    width: auto;
    font-size: 1.6rem;
    border: 1px solid white;
    &--white {
      @include button(outline);
      border: 1px solid var(--text-color);
      width: auto;
      font-size: 1.6rem;
    }
  }
  &__hero {
    @include content(100%, 0);
    @include flex(center, false, center);
    flex-direction: column;
    position: relative;
    height: auto;
    .swiper-pagination {
      @include flex(center, 10px, flex-end);
      flex-direction: column;
      height: 100%;
      width: auto;
      right: 6% !important;
      left: initial;
      bottom: 0;
    }
    .swiper-pagination-bullet {
      @include flex();
      @include text(1.6rem, 600, 2.4rem);
      width: 60px;
      height: 48px;
      border: 1px solid #ffffff;
      border-radius: 5px;
      color: var(--text-contrast-color);
      opacity: 1;
      background: var(--primary-color);
    }

    .swiper-pagination-bullet-active {
      color: var(--text-contrast-color);
      background: var(--secondary-color);
    }
  }
  &__search {
    position: absolute;
    z-index: 2;
    bottom: 20%;
    min-width: 320px;
    @media screen and (max-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      min-width: 500px;
      bottom: 33%;
    }

    .input {
      &__input {
        background: var(--primary-color);
      }
    }
  }

  &__search_mobile {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 2rem;
    z-index: 2;
    width: 100%;
    background: white;
    gap: 1rem;
    &_title {
      font-size: 1.9rem;
      font-weight: 500;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }

    .input {
      &__input {
        background: var(--primary-color);
      }
    }
  }

  &__copy {
    @include content(100%, 0);
    @include flex(center, 0, stretch);
    height: 500px;
    &--dark {
      margin-top: 60px;
    }
  }
  &__copy-box-img{
    @include flex;
    position: relative;
    width: 50%;
    object-fit: cover;
    object-position: center;
    display: none;
    &[data-device="true"]{
      display:flex
    }
    &[data-default="true"]{
      display:flex
    }

  }
  &__copy-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__link-banner{
    width:100%;
    height: 100%;
    position: absolute;
  }
  &__copy-box {
    width: 50%;
    @include flex(center, 8px, center);
    flex-direction: column;
    background: var(--text-contrast-color);
    &--drak {
      background-color: var(--primary-color);
    }
  }
  &__copy-img-vende {
    order: 0;
    width: 50%;
    object-fit: cover;
    object-position: center;
    background-color: black;
  }
  &__copy-title {
    @include text(4.8rem, 400, 5.5rem, center);
    max-width: 400px;
    &--dark {
      color: var(--text-contrast-color);
    }
  }
  &__copy-text {
    @include text(2rem, 400, 2.6rem, center);
    max-width: 400px;
    &--dark {
      color: var(--text-contrast-color);
    }
  }
  &__copy-button {
    @include button(solid, 380px);
    &--dark {
      @include button(outline, 380px);
    }
  }
  &__ubication {
    @include content(1140px, 0);
    margin-top: 60px;
  }
  &__ubication-check {
    @include flex(center, false, flex-start);
    flex-direction: column;
    position: relative;
  }
  &__ubication-btn {
    @include button(solid, 320px);
    text-align: left;
    justify-content: flex-start;
    margin: 20px 0;
    &::after {
      @include background-img($dot);
      content: "";
      width: 20px;
      height: 20px;
      margin-left: auto;
    }
    &:hover {
      &::after {
        @include background-img($dot-hover);
        content: "";
        width: 20px;
        height: 20px;
        filter: invert(1);
      }
    }
  }
  &__ubication-title {
    @include text(2.4rem, 400, 2.8rem, left);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary-color);
  }
  &__ubication-bottm {
    margin-top: -50px;
    width: fit-content;
    cursor: pointer;
    z-index: 2;
  }
  &__ubication-send {
    @include text(1.6rem, 600, 2.4rem, left);
    color: var(--primary-color);
    &::after {
      content: "next";
      font-family: swiper-icons;
      font-size: 80%;
      text-transform: none !important;
      letter-spacing: 0;
      font-variant: initial;
      line-height: 1;
      margin-left: 15px;
    }
    &:hover {
      color: var(--secondary-color);
    }
  }

  &__content {
    @include background-img($background-home);
    background-size: 155%;
    background-position: 39% -24px;
    @include content(100%, 0);
    padding: 48px 0;
    &--white {
      @include background-img($background-home2);
      background-color: var(--text-contrast-color);
      background-size: 155%;
      background-position: 58% -24px;
    }
  }
  &__security {
    @include content(1240px, 0);
    margin-top: 60px;
  }
  &__security-title {
    @include text(4.8rem, 400, 5.7rem, center);
    margin-bottom: 16px;
    color: var(--text-color);
    margin-bottom: 24px;
  }
  &__security-text {
    @include text(2rem, 400, 2.6rem, center);
    color: var(--text-color);
    margin-bottom: 48px;
  }
  &__security-card {
    width: 100%;
    height: 260px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 24px 16px;
  }
  &__security-box {
    @include flex();
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background: var(--secondary-color);
  }
  &__security-img {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
  &__security-border {
    width: 70px;
    height: 4px;
    background: var(--secondary-color);
    margin: 16px 0;
  }
  &__security-txt {
    @include text(2.2rem, 400, 2.8rem);
    color: var(--text-color);
  }
  &__security-subtext {
    @include text(1.6rem, 400, 2.4rem);
    color: var(--text-color);
  }
  &__security-mobile{
    display: none;
  }
  &__agency {
    @include content(100%, 0);
    @include flex(center, false, stretch);
    flex-direction: column;
    background: var(--primary-color);
    padding: 50px 0;
  }
  &__agency-title {
    @include text(4.8rem, 400, 5.7rem, center);
    color: var(--text-contrast-color);
    margin-bottom: 16px;
  }
  &__agency-subtitle {
    @include text(2rem, 200, 2.6rem, center);
    color: var(--text-contrast-color);
    margin: 0 auto 32px;
    max-width: 900px;
  }
  &__agency-box {
    @include content(730px, 0);
    @include flex(center, 30px, stretch);
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  &__agency-card {
    @include border(#fff);
    @include flex(flex-start, false, center);
    flex-direction: column;
    border-radius: 5px;
    max-width: 350px;
    height: 350px;
    flex-grow: 1;
    padding: 32px 24px;
    &:hover {
      background: var(--secondary-color);
    }
  }
  &__agency-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__agency-Boxbtn {
    @include content(730px, 0);
    margin-top: 24px;
  }
  &__agency-btn {
    @include text(1.6rem, 400, 2.4rem, left);
    color: var(--text-contrast-color);
    &::after {
      content: "next";
      font-family: swiper-icons;
      font-size: 80%;
      text-transform: none !important;
      letter-spacing: 0;
      font-variant: initial;
      line-height: 1;
      margin-left: 15px;
    }
    &:hover {
      color: var(--secondary-color);
    }
  }

  &__agency-txt {
    @include text(2.4rem, 400, 2.8rem, center);
    color: var(--text-contrast-color);
    margin: auto;
  }
  &__client {
    @include content(1240px, 0);
    margin-top: 60px;
  }
  &__client-title {
    @include text(4.8rem, 400, 5.7rem, left);
    margin-bottom: 16px;
    color: var(--text-color);
    margin-bottom: 40px;
  }
  &__client-card {
    @include flex(flex-start, 8px, flex-start);
    flex-direction: column;
    width: 100%;
    min-height: 260px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 24px 16px;
    height: 100%;
  }
  &__client-score-box,
  &__client-ubication-box,
  &__client-box {
    @include flex(flex-start, 8px, center);
  }
  &__client-img {
    width: 50px;
    height: 50px;
    object-fit: c4remontain;
  }
  &__client-text {
    @include text(1.6rem, 600, 2.4rem);
    margin-bottom: 0;
  }
  &__client-subtext {
    @include text(1.4rem, 400, 2.2rem);
    margin-bottom: 0;
    color: #ababab;
  }
  &__client-txt {
    @include text(1.6rem, 400, 2.4rem);
    color: var(--text-color);
    flex-grow: 1;
    margin-bottom: 0;
  }
  &__client-score-text {
    @include text(1.6rem, 600, 2.4rem);
    color: var(--primary-color);
    margin-bottom: 0;
  }
  &__client-score-img {
    height: 18px;
  }
  &__client-ubication-text {
    @include text(1.6rem, 600, 2.4rem);
    color: var(--primary-color);
    margin-bottom: 0;
  }
  &__ubication-loading {
    width: 100%;
    @include flex(center, 30px, center);
    flex-wrap: wrap;
    padding-bottom: 60px;
  }
}


.home {
  .body {
    display: none;
  }
}
.page-load {
  .home {
    .body {
      display: flex;
      width: 100%;
      height: 100vh;
      position: fixed;
      z-index: 4;
      background: #ffffff;
      bottom: 0;
    }
  }
}

@import "./responsive/Home";
