@import "../Mixins";
$icon-arrow: url("@/assets/images/icons/arrow-select.svg");
p {
  margin-bottom: 0;
}

.userDetalle {
  @include content(100%, 0);

  
  &__title{
    @include text(2rem, 400, 2.6rem, left); 
    &--form{
      margin-bottom: 32px;
    }
  }
  &__subtitle-content{
    @include flex(space-between);
    & img {
      filter: invert(1);
    }
  }
  &__subtitle{
    @include text(1.6rem, 400, 2.4rem, left); 
  }
  
  &__main {
    width: calc(100% - 200px);
    @include flex(flex-start, false, stretch);
  }
  &__prewiev {
    @include flex(flex-start, 32px, stretch);
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding: 0px 24px 56px;
  }
  
  &__box-detail{
    @include border;
    @include flex(flex-start, false, stretch);
    width: 100%;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 24px;
    height: 250px;
    background: var(--text-contrast-color);
    &--mobil{
      max-width: 450px;
      margin: auto;
      flex-direction: column;
      height: auto;
      padding: 0
    }
  }
  &__detail{
    @include flex;
    flex-grow: 1;
    background: #ABABAB;

    & img{
      width: 50px;
      height: 50px;
    }
    &--mobil{
      width: 100%;
      height: 180px;
    }
  }
  &__deatil-text-box{
    @include flex(flex-start, 16px, stretch);
    flex-direction: column;
    width: 200px;
    padding-left: 32px;
    &--mobile{
      padding: 24px 32px;
    }
  }
  &__deatil-text{
    @include text(2rem, 400, 2.6rem, left);
  }
  &__deatil-subtext{
    @include text(1.4rem, 400, 2rem, left);

  }
  &__deatil-price{
    @include text(2.4rem, 400, 2.8rem, left);
  }
  &__deatil-ubication{
    @include text(1.4rem, 400, 2rem, left);
  }
  &__box-desc{
    @include flex(flex-start, false, stretch);
    flex-direction: column;
    width: 100%;
    background: var(--primary-color);
    color: var(--text-contrast-color);
    padding: 32px 48px;
    border-radius: 5px;
    &--mobile{
      max-width: 450px;
      margin: auto;
    }
  }
  &__desc-title{
    @include text(2.4rem, 400, 2.8rem, left);
    padding-bottom: 32px;
  }
  &__desc-text{
    @include text(1.4rem, 400, 2rem, left);
    padding-bottom: 24px;
    border-bottom: 1px solid var(--text-contrast-color);
    margin-bottom: 8px;
  }
  &__dummy{
    @include flex(flex-start, false, stretch);
    @include border;
    border-radius: 5px;
    width: 100%;
    height: auto;
    background: var(--text-contrast-color);
    padding: 32px 0;
    margin: auto; 
    &--mobile{
      max-width: 450px;
      margin: auto;
    }
  } 
  &__dummy-box-form{
    @include flex(flex-start, false, stretch);
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    margin: auto;
  }
  &__dummy-title{
    @include text(2.4rem, 400, 2.8rem, left);
    margin-top: 8px;
  }
  &__dummy-box{
    @include flex(flex-start, 16px, stretch);
    flex-wrap: wrap;
    width: 100%;
    .userDetalle__dummy-inputs{
      width: 45%;
    }
  }
  &__dummy-inputs{
    @include flex(flex-start, 8px, stretch);
   flex-direction: column;
   flex-grow: 1;
   .label{
    margin-bottom: 0;
    margin-top: 24px;
   }
  }
  &__btn-subbmit{
    @include button(solid, 100%);
    margin: 24px 0;
  }
  &__dropzone-box {
    flex-grow: 1;
    height: auto;
    .dropzone {
      width: 100%;
      height: auto;
      height: 100%;
      padding: 0;
      border: 1px dashed #969696;
      &__message {
        &--style {
          display: none;
        }
      }
      &__item {
        margin: initial;
        padding: 0;
        width: 100%;
        height: auto;
      }
      &__item-thumbnail {
        width: 100%;
        height: 100%;
        border-radius: 0;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__progress {
        display: none;
      }
    }
  }
 
 

  &__home2 {
    @include flex(center, false, stretch);
    flex-direction: column;
    color: var(--text-color);
    @include border;
    border-radius: 5px;
    position: relative;
    width: 100%;
    &--mobile{
      max-width: 450px;
      margin: auto;
    }
  }

  &__home2-box {
    @include flex(center, false, stretch);
    background: var(--text-contrast-color);
    width: 100%;
    flex-direction: column;
    position: relative;
    display: none;
    height: 280px;
    padding: 16px;
    &[data-active="true"] {
      display: flex;
    }
    &--dark {
      background: var(--primary-color);
    }
  }

  &__home2-active-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 3;
    cursor: pointer;
  }

  &__home2-img-back {
    position: absolute;
    z-index: 0;
  }

  &__home2-btn-active {
    position: absolute;
    right: 0;
    z-index: 2;
  }

  &__home2-box-drop {
    @include flex(center, false, stretch);
    width: 100%;
    flex-grow: 1;
    height: 100%;
    position: relative;
  }
  &__home2-back-copy{
    @include flex(center, 8px, center);
    flex-direction: column;
    background: rgba(214, 213, 213, 0.779);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  &__home2-text-copy{
    @include text(1.6rem, 400, 2.4rem, center);
    & span {
      color: #0053D3;
    }
  }
  &__home2-subtext-copy{
    @include text(1.4rem, 400, 1.8rem, center);
  }
  &__home2-drop {
    @include flex(center, false, stretch);
    width: 100%;
    height: 100%;
    z-index: 1;
    .banners__dropzone-box{
      width: 100%;
      height: 100%;
      .dropzone__item{
        width:100%;
        height: 100%;
      }
    }
  }
  
  

  &__added {
    @include flex(space-between, false, stretch);
    background: var(--text-contrast-color);
    border-radius: 5px;
    width: 100%;
    flex-wrap: wrap;
    padding: 0px 16px 24px;
    
  }

  &__added-title {
    @include text(1.6rem, 400, 2.4rem, left);
    width: 100%;
    margin-bottom: 24px;
    
  }

  &__added-box {
    @include border(#ababab);
    @include flex;
    border-radius: 5px;
    flex-direction: column;
    width: 170px;
    
  }
  &__added-box-img {
    @include flex;
    width: 100%;
    height: 90px;
    background: #ababab;
    
  }

  &__added-box-text {
    @include flex;
    width: 100%;
    height: 60px;
    
  }
  &__added-text {
    @include text(1.6rem, 400, 2.4rem, center);
    
  }

  &__form-box {
    width: 300px;
    min-width: 300px;
    padding: 0 16px;
  }

  &__form-stycky {
    width: 100%;
    position: sticky;
    top: 100px;
  }

  &__form-content-prewiev {
    &[data-active="true"] {
      display: flex;
    }
  }

  &__form-img-box {
    @include flex(flex-start);
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
  &__form-img {
    @include flex(flex-start);
    width: 100%;
  }
  &__form-prewiev {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
  &__form-prewiev-data {
    @include text(1.6rem, 400, 2.4rem, left);
    padding-left: 20px;
  }
  &__form-img-change,
  &__form-img-close {
    @include text(1.6rem, 600, 2.4rem, center);
    margin-top: 15px;
    padding: 8px 0px;
    cursor: pointer;
  }
  &__form-img-change {
    color: #0053d3;
    margin-right: 20px;
  }
  
}

.userDetalle {
  .body {
    display: none;
  }
}
.page-load {
  .userDetalle {
    .body {
      display: flex;
      width: 100%;
      height: 100vh;
      position: fixed;
      z-index: 4;
      background: #ffffff;
      bottom: 0;
    }
  }
}

@import "./responsive/UserDetalle";
